DB_URL=
DB_USERNAME=
DB_PASSWORD=
REDIS_HOST=
REDIS_PORT=
JWT_SECRET= //El JWT lo sacan de aqui: https://jwtsecrets.com/
JWT_EXPIRATION=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
SPRING_PROFILES_ACTIVE=